<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold" id="contactModalLabel">Have a Query?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" id="name" [(ngModel)]="contactForm.name" name="name" class="form-control" required>
            </div>
  
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" [(ngModel)]="contactForm.email" name="email" class="form-control" required>
            </div>
  
            <div class="mb-3">
              <label for="phone" class="form-label">Mobile</label>
              <input type="text" id="phone" [(ngModel)]="contactForm.phone" name="phone" class="form-control" required>
            </div>
  
            <div class="mb-3">
              <label for="message" class="form-label">Message</label>
              <textarea id="message" [(ngModel)]="contactForm.message" name="message" class="form-control" rows="3" required></textarea>
            </div>
  
            <button type="submit" class="btn bg-primary w-100 text-warning ">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  