<header class="top-navbar  ">
 
<nav class="navbar navbar-expand-lg navbar-light bg-white " style="height: 80px; ">
    <div class="container ">
        <a class="navbar-brand  " style="background: none;" routerLink="/">
            <img src="./assets/images/logo black.png" alt="Logo" class="img-fluid" style=" max-width: 200px; padding: 0; margin: 0; ">
        </a>

    
      
        
        <i class="navbar-toggler"  data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="bi bi-list p-0 fs-1 text-warning"></span> 
        </i>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Courses</a>
                  <ul class="dropdown-menu pe-5 ps-3">
                    <div class="col-12  gap-2 text-center d-flex " >
                      
                      <!-- Foundation -->
                      <div class=" col-4 pe-3">
                        <h6 class="text-warning text-decoration-underline">Foundation</h6>
                        <ul class=" text-start list-unstyled text-start">
                          <li><a routerLink="/course/foundation/seven" class="dropdown-item">7th</a></li>
                          <li><a routerLink="/course/foundation/eight" class="dropdown-item">8th</a></li>
                          <li><a routerLink="/course/foundation/nine" class="dropdown-item">9th</a></li>
                          <li><a routerLink="/course/foundation/ten" class="dropdown-item">10th</a></li>
                        </ul>
                      </div>
                
                      <!-- Medical -->
                      <div class="text-start col-4">
                        <h6 class="text-warning text-decoration-underline">Medical</h6>
                        <ul class="border-start border-primary border-1  list-unstyled text-start">
                          <li><a routerLink="/course/medical/eleven" class="dropdown-item">11th</a></li>
                          <li><a routerLink="/course/medical/twelve" class="dropdown-item">12th</a></li>
                        </ul>
                      </div>
                
                      <!-- Engineering -->
                      <div class="text-start col-4">
                        <h6 class="text-warning text-decoration-underline">Engineering</h6>
                        <ul class=" border-start border-primary border-1 list-unstyled text-start">
                          <li><a routerLink="/course/engineering/eleven" class="dropdown-item">11th</a></li>
                          <li><a routerLink="/course/engineering/twelve" class="dropdown-item">12th</a></li>
                        </ul>
                      </div>
                
                    </div>
                  </ul>
                </li>
                

                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Courses</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li class="dropdown-submenu position-relative">
                            <a class="dropdown-item dropdown-toggle">Foundation</a>
                            <ul class="dropdown-menu position-absolute start-100 top-0">
                                <li><a class="dropdown-item" routerLink="/course/foundation/seven">Seven</a></li>
                                <li><a class="dropdown-item" routerLink="/course/foundation/eight">Eight</a></li>
                                <li><a class="dropdown-item" routerLink="/course/foundation/nine">Nine</a></li>
                                <li><a class="dropdown-item" routerLink="/course/foundation/ten">Ten</a></li>
                            </ul>
                        </li>
                      
                        <li class="dropdown-submenu position-relative">
                            <a class="dropdown-item dropdown-toggle">Medical</a>
                            <ul class="dropdown-menu position-absolute start-100 top-0">
                                <li><a class="dropdown-item" routerLink="/course/medical/eleven">Medical Eleven</a></li>
                                <li><a class="dropdown-item" routerLink="/course/medical/twelve">Medical Twelve</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu position-relative">
                            <a class="dropdown-item dropdown-toggle">Engineering</a>
                            <ul class="dropdown-menu position-absolute start-100 top-0">
                                <li><a class="dropdown-item" routerLink="/course/engineering/eleven">Engineering Eleven</a></li>
                                <li><a class="dropdown-item" routerLink="/course/engineering/twelve">Engineering Twelve</a></li>
                            </ul>
                        </li>
                    </ul>
                </li> -->

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Exam</a>
                  <ul class="dropdown-menu pe-5 ps-3">
                    <div class="col-12 col-md-12 gap-2 text-center d-flex " >
                      
                      <!-- Foundation -->
                      <div class=" col-4">
                        <h6 class="text-warning text-start text-decoration-underline">PSAT</h6>
                        <ul class=" list-unstyled text-start">
                          <li><a class="dropdown-item" routerLink="/exam/psat/about">About</a></li>
                          <li><a class="dropdown-item" routerLink="/exam/psat/register">Register</a></li>
                          <li><a class="dropdown-item" routerLink="/exam/psat/result">Result</a></li>
                        </ul>
                      </div>
                
                      <!-- Medical -->
                      <div class=" col-4">
                        <h6 class=" text-warning text-start text-decoration-underline">PTQE</h6>
                        <ul class="border-start border-primary border-1 list-unstyled text-start">
                          <li><a class="dropdown-item" routerLink="/exam/psat/about">About</a></li>
                        <li><a class="dropdown-item" routerLink="/exam/psat/register">Register</a></li>
                        <li><a class="dropdown-item" routerLink="/exam/psat/result">Result</a></li>
                        </ul>
                      </div>
                
                      <!-- Engineering -->
                      <div class="col-4">
                        <h6 class="text-warning text-start text-decoration-underline">Register</h6>
                        <ul class=" border-start border-primary border-1 list-unstyled text-start">
                          
                          <li><a class="dropdown-item" routerLink="/exam/how-to-register">How to Register</a></li>
                        </ul>
                      </div>
                
                    </div>
                  </ul>
                </li>


                

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/admission">Admission</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/about">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

  <!-- Mobile Offcanvas Menu -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="mobileMenu">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">Menu</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#mobileCourseDropdown">Courses</a>
          <ul class="collapse list-unstyled ps-3" id="mobileCourseDropdown">
            <li>
              <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#mobileFoundation">Foundation</a>
              <ul class="collapse list-unstyled ps-3" id="mobileFoundation">
                <li><a class="nav-link" routerLink="/course/foundation/seven">Seven</a></li>
                <li><a class="nav-link" routerLink="/course/foundation/eight">Eight</a></li>
                <li><a class="nav-link" routerLink="/course/foundation/nine">Nine</a></li>
                <li><a class="nav-link" routerLink="/course/foundation/ten">Ten</a></li>
              </ul>
            </li>
            <li>
              <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#mobileMedical">Medical</a>
              <ul class="collapse list-unstyled ps-3" id="mobileMedical">
                <li><a class="nav-link" routerLink="/course/medical/eleven">Medical Eleven</a></li>
                <li><a class="nav-link" routerLink="/course/medical/twelve">Medical Twelve</a></li>
              </ul>
            </li>
            <li>
              <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#mobileEngineering">Engineering</a>
              <ul class="collapse list-unstyled ps-3" id="mobileEngineering">
                <li><a class="nav-link" routerLink="/course/engineering/eleven">Engineering Eleven</a></li>
                <li><a class="nav-link" routerLink="/course/engineering/twelve">Engineering Twelve</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#mobileExamDropdown">Exam</a>
          <ul class="collapse list-unstyled ps-3" id="mobileExamDropdown">
            <li>
              <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#mobilePSAT">PSAT</a>
              <ul class="collapse list-unstyled ps-3" id="mobilePSAT">
                <li><a class="nav-link" routerLink="/exam/psat/about">About</a></li>
                <li><a class="nav-link" routerLink="/exam/psat/register">Register</a></li>
                <li><a class="nav-link" routerLink="/exam/psat/result">Result</a></li>
              </ul>
            </li>
            <li>
              <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#mobilePTQE">PTQE</a>
              <ul class="collapse list-unstyled ps-3" id="mobilePTQE">
                <li><a class="nav-link" routerLink="/exam/ptqe/about">About</a></li>
                <li><a class="nav-link" routerLink="/exam/ptqe/register">Register</a></li>
                <li><a class="nav-link" routerLink="/exam/ptqe/result">Result</a></li>
              </ul>
            </li>
            <li><a class="nav-link" routerLink="/exam/how-to-register">HOW TO REGISTER</a></li>
          </ul>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/admission">Admission</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</header>