<div class="container">
    <section class="section pages">
            <div class="row shadow">
                <div class="col-sm-12">
                    <div class="section-title">
                    <h2 class="fw-bold text-center mb-4 ">Payment Refund <span>And Cancellation</span></h2>
                    </div>
    
                    <p class="para"><b>
                        Any technical issue found in online fee payment, such as :</b>
                        </p><ol class="why-ol list-group list-group-numbered text-start">
                            <li class="list-group-item bg-light">Payment Transaction not get acknowledgment due to internet breakdown.</li>
                            <li class="list-group-item">Between Payment Transaction if the amount deducted and the internet breakdown.</li>
                            <li class="list-group-item bg-light ">Kindly process the payment from only website payment gateway. We will process your order only after payment gets credited to our account else We are not responsible in any case . Refund policy will be applicable as per the pinnaclo educare norms when amount credited in our account.</li>
                        </ol>
                    <p></p>
                    
                </div>
            </div>
    </section>
    </div>