<footer class="footer bg-dark py-4 border-top border-warning">
  <div class="container">

    <footer class="bg-dark text-light py-2">
      <div class="container">
        <div class="row align-items-center">
          <!-- Newsletter Content -->
          <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
            <h5 class="fw-bold">Sign up for News and Offers</h5>
            <p class="mb-0 text-light">Subscribe to the latest smartphone news & great deals we offer.</p>
          </div>
    
          <!-- Newsletter Form -->
          <div class="col-lg-6">
            <form class="d-flex flex-column flex-md-row justify-content-center justify-content-lg-end">
              <input type="email" class="form-control me-md-2 mb-2 mb-md-0" placeholder="Your Email" required>
              <button type="submit" class="btn btn-warning text-dark fw-bold">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </footer>
    

    <hr class="w-100 bg-warning" style="height: 5px; opacity: 1;">



    <div class="row">
      <!-- About Us Section -->
      <div class="col-md-4">
        <h3 class="fw-bold text-warning">About Us</h3>
        <ul class="list-unstyled">
          <li><a href="https://www.pinnacloeducare.com/our-vision" class="text-white">Values and Vision</a></li>
          <li><a href="https://www.pinnacloeducare.com/aims-and-responsibility" class="text-white">Aims and Responsibilities</a></li>
          <li><a href="https://www.pinnacloeducare.com/our-faculty" class="text-white">Our Team</a></li>
          <li><a href="https://www.pinnacloeducare.com/why-pinnacle" class="text-white">Why Pinnacle</a></li>
          <li><a href="https://www.pinnacloeducare.com/testimonials" class="text-white">Testimonials</a></li>
        </ul>
      </div>

      <!-- Our Courses Section -->
      <div class="col-md-4">
        <h3 class="fw-bold text-warning">Our Courses</h3>
        <ul class="list-unstyled">
          <li><a href="https://www.pinnacloeducare.com/home/ourcourses#!/8th" class="text-white">Class 8th</a></li>
          <li><a href="https://www.pinnacloeducare.com/home/ourcourses#!/9th" class="text-white">Class 9th</a></li>
          <li><a href="https://www.pinnacloeducare.com/home/ourcourses#!/10th" class="text-white">Class 10th</a></li>
          <li><a href="https://www.pinnacloeducare.com/home/ourcourses#!/11th" class="text-white">Class 11th</a></li>
          <li><a href="https://www.pinnacloeducare.com/home/ourcourses#!/12th" class="text-white">Class 12th</a></li>
        </ul>
      </div>

      <!-- Admission Section -->
      <div class="col-md-4">
        <h3 class="fw-bold text-warning">Admission</h3>
        <ul class="list-unstyled">
          <li><a href="https://www.pinnacloeducare.com/admission-process" class="text-white">Admission Process</a></li>
        </ul>
      </div>
    </div>

    <!-- Footer Icons (Optional) -->
    <div class="text-center mt-3">
      <a href="https://www.facebook.com" class="mx-2 text-white"><span class="bi bi-facebook"></span></a>
      <a href="https://www.twitter.com" class="mx-2 text-white"><span class="bi bi-twitter"></span></a>
      <a href="https://www.instagram.com" class="mx-2 text-white"><span class="bi bi-instagram"></span></a>
    </div>
  </div>
</footer>
