.text-primary {
  color: #1f0000 !important;
}

.text-danger {
  color: #f80 !important;
}

$primary: #1f0000;
$danger: #f80;

.homepage-container {
  width: 100%;
  margin: auto;
}

.animated-div {
  background: linear-gradient(to right, #ff8000c4, #ffcc00ad, rgba(255, 136, 0, 0.274));
  background-size: 200% 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

@keyframes moveColor {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Hover Effect on Card */
.custom-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Social Media Icons */
.social-icons a {
  font-size: 20px;
  margin: 0 5px;
  color: #555;
  transition: transform 0.3s ease, color 0.3s ease;
}
.social-icons a:hover {
  transform: scale(1.4);
}

/* Social Icon Colors */
.bi-twitter { color: #1DA1F2; }
.bi-linkedin { color: #0077B5; }
.bi-youtube { color: #FF0000; }
.bi-facebook { color: #1877F2; }
.bi-instagram { color: #E4405F; }

.underline {
  width: 80px;
  height: 4px;
  background: linear-gradient(90deg, #ff9800, #ff5722);
  border-radius: 2px;
}

.quote-icon-top,
.quote-icon-bottom {
  font-size: 34px;
  color: #ff6600;
  position: absolute;
}

.quote-icon-top {
  top: -10px;
  left: -10px;
}

.quote-icon-bottom {
  bottom: -10px;
  right: -10px;
  rotate: 180deg;
}
