
:root {
  --bs-primary: #1f0000 !important;
  --bs-primary-rgb: 31, 0, 0 !important; /* Equivalent RGB */
  --bs-secondary:#f80;

}

$bg-primary: #1f0000; 
$primary: #1f0000; 
$secondary:#f80;



    body, html {
      
      }
      
      .falling-element {
        font-family: 'Poppins', sans-serif !important;
        position: absolute;
        top: -50px;
        background-color: orange;
        border-radius: 50%;
        animation: fall linear infinite;
        opacity: 0.8;
        will-change: transform, opacity;
      }
      
  
      @keyframes fall {
        to {
          transform: translateY(calc(100vh )); 
          opacity: 0; /* Smooth fade-out */
        }
      }
     


      






      

h4 {
  color: #ff6600;
  font-weight: bold;
}

p {
  font-size: 16px;
  color: #444;
  font-style: italic;
  position: relative;
  padding: 15px;
}


.underline {
  width: 80px;
  height: 4px;
  background: linear-gradient(90deg, #ff9800, #ff5722);
  border-radius: 2px;
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 80px;
  }
}


p {
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-title h2 {
  position: relative;
}

.section-title  h2::after {
  position: absolute;
  left: 50%;
  content: "";
  width: 120px;
  height: 2px;
  background: #f80;
  bottom: -6px;
  margin-left: -63px;
}

.section-title  h2::before {
  position: absolute;
  left: 50%;
  content: "";
  width: 120px;
  height: 2px;
  background: #f80;
  bottom: -12px;
  margin-left: -50px;
}
